@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary: #222;
  --secondary: #ddd;
}

html,
body {
  font-family: "Quicksand", sans-serif;
  background-color: #f1f1f1;
  overflow-x: hidden;
}
/* 
h2 {
  font-size: 1.2rem;
  color: var(--primary-color);
}

h3 {
  font-size: 1rem;
  color: var(--secondary-color);
} */

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}
